<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Метель</title>
    <!-- Подключаем файл стилей -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Подключаем шрифт Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
</head>
<body>
    <!-- Фон страницы -->
    <div class="background"></div>
    <!-- Основной контейнер для раздела поиска -->
    <div class="container search-section">
        <h1 class="center-text">Mutele Bot</h1>
        <h4 class="center-text">MusicTelegram</h4>
        <!-- Поле для ввода запроса -->
        <input type="text" id="searchInput" class="input-field" placeholder="Введите название песни или исполнителя">
        <!-- Кнопка для выполнения поиска -->
        <button class="button" id="searchButton">Поиск</button>
        <!-- Контейнер для отображения результатов поиска -->
        <div class="results" id="results"></div>
        <!-- Контейнер для отображения пагинации -->
        <div id="pagination" class="pagination"></div>
        <!-- Спиннер для индикации загрузки -->
        <div id="spinner" class="spinner" style="display: none;"></div>
    </div>
    <!-- Контейнер для раздела плеера, скрыт по умолчанию -->
    <div class="container player-section" id="player" style="display: none;">
        <h2 class="center-text">Плеер</h2>
        <!-- Список плейлиста, скрыт по умолчанию -->
        <ul id="playlist" style="display: none;"></ul>
        <!-- Контейнер для отображения пагинации плейлиста -->
        <div id="playlistPagination" class="pagination" style="display: none;"></div>
        <!-- Кнопка для отображения плейлиста пользователя -->
        <button class="button" id="userPlaylistButton">Твой плейлист</button>
        <!-- Кнопка для отображения запросов пользователя -->
        <button class="button" id="userRequestsButton">Твои запросы</button>
        <!-- Кнопка для отображения всех треков -->
        <button class="button" id="allTracksButton">Все треки</button>
        <!-- Раздел для отображения и редактирования плейлиста пользователя, скрыт по умолчанию -->
        <div id="userPlaylistDiv" style="display: none;">
            <ul id="userPlaylist"></ul>
            <div id="userPlaylistPagination" class="pagination" style="display: none;"></div>
            <button class="button" id="editPlaylistButton">Изменить плейлист</button>
            <div>
                <!-- Поле для фильтрации треков в плейлисте, скрыто по умолчанию -->
                <input type="text" id="filterInput" class="input-field" placeholder="Фильтр треков" style="display: none;">
                <!-- Кнопка для сохранения изменений в плейлисте, скрыта по умолчанию -->
                <button class="button" id="savePlaylistButton" style="display: none;">Сохранить плейлист</button>
            </div>
        </div>
        <!-- Элемент аудиоплеера для воспроизведения треков -->
        <audio controls id="audioPlayer"></audio>
    </div>
    <!-- Кнопка для открытия плеера -->
    <button class="button" id="playerButton">Открыть плеер</button>

    <!-- Подключаем библиотеку Telegram Web App -->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <!-- Подключаем скрипты для работы плеера, UI и взаимодействия с ботом -->
    <script src="/static/player.js"></script>
    <script src="/static/ui.js"></script>
    <script src="/static/bot.js"></script>
    <script src="/static/utils.js"></script>
</body>
</html>
