<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Метель</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
</head>
<body>
    <div class="background"></div>
    <div class="container search-section">
        <h1 class="center-text">Mutele Bot</h1>
        <h4 class="center-text">MusicTelegram</h4>
        <input type="text" id="searchInput" class="input-field" placeholder="Введите название песни или исполнителя">
        <button class="button" id="searchButton">Поиск</button>
        <!-- Новая кнопка для скачивания видео -->
        <button class="button" id="downloadVideoButton">Скачать видео</button>
        <div class="results" id="results"></div>
        <div id="pagination" class="pagination"></div>
        <div id="spinner" class="spinner" style="display: none;"></div>
    </div>
    <div class="container player-section" id="player" style="display: none;">
        <h2 class="center-text">Плеер</h2>
        <button class="button" id="closePlaylistButton" style="display: none;">Закрыть плейлист</button>
        <ul id="playlist" style="display: none;"></ul>
        <div id="playlistPagination" class="pagination" style="display: none;"></div>
        <button class="button" id="userPlaylistButton">Твой плейлист</button>
        <button class="button" id="userRequestsButton">Твои загрузки</button>
        <button class="button" id="allTracksButton">Все треки</button>
        <div id="userPlaylistDiv" style="display: none;">
            <ul id="userPlaylist"></ul>
            <div id="userPlaylistPagination" class="pagination" style="display: none;"></div>
            <button class="button" id="editPlaylistButton">Изменить плейлист</button>
            <div>
                <input type="text" id="filterInput" class="input-field" placeholder="Фильтр треков" style="display: none;">
                <button class="button" id="savePlaylistButton" style="display: none;">Сохранить плейлист</button>
            </div>
        </div>
        <audio controls id="audioPlayer"></audio>
    </div>
    <button class="button" id="playerButton">Открыть плеер</button>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="/static/player.js"></script>
    <script src="/static/ui.js"></script>
    <script src="/static/bot.js"></script>
    <script src="/static/utils.js"></script>
</body>
</html>